# Ignore virtual environment
venv/
.env/

# Ignore PyCharm-specific files
.idea/
configuration.py

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore logs and temporary files
*.log
*.swp
*.swo

# Ignore image files
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.tiff
*.svg
*.webp

